@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    background-color: #f8fafc;
}

.header{
    position: fixed;
    background-color: #121b2f;
    color: white;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}
.header .header-container{
    padding: 2.5rem 10rem;
    display: flex;
    justify-content: space-between;
    
}
.header .header-container .name-role{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header .header-container .name-role .name{
    font-size: 3rem;
    font-weight: 400;
}
.header .header-container .name-role .role{
    font-size: 1.7rem;
    font-weight: 400;
    color: #cad5e2;
}
.header .header-container .nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 2rem;
    font-size: 1.7rem;
}
.header .header-container .nav-list a{
    text-decoration: none;
    color: white;
}
.main{
    margin-top: 11.5rem;
    display: flex;
    /* position: sticky; */
    overflow: hidden;
    height: calc(100vh - 11.5rem);

}
.side{
    width: 25%;
    background-color: #1d293c;
    color: white;
    overflow-y: auto;
}
.side-container{
    margin:2.5rem  ;
}
.side .side-container .menu-icon {
  position: absolute;
  display: none;
  color: white;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  z-index: 3;
}
.side .side-container .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .profile-icon{
    background-color: #314157;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.profile .profile-icon .profile-pic{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;   
}
.profile .name ,
.profile .profession{
    font-weight: 200;
    font-size: 1.8rem;
}
.profile .profession{
    color: #90a1b9;
}
.side .quick-info{
    background-color: #314157;
    margin: 2rem 0;  
    border-radius: 10px;
}
.side .quick-info .quick-info-container{
    padding: 2rem;
}
.quick-info-container h2{
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.quick-info-container ul{
    display: grid;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    color: #cad5e2;
    margin-left: 2rem;
}
.side .side-links{
 margin: 1rem 2rem;
}
.side-links ul{
    list-style: none;
    display: grid;
    row-gap: 1.5rem;
    font-size: 1.7rem;
}
.side-links ul a{
    text-decoration: none;
    color: white;
}
.side-container .side-links ul li{
    padding: 0.8rem;
}
.side-container .side-links ul li:hover{
    background-color: #314157;
    border-radius: 10px;
}
.main .right-side{
    color: oklch(.372 .044 257.287);
    overflow-y: auto;
    flex: 1;
}
.right-side-container{
    max-width: 80%;
    margin:4rem auto;
}
.right-side .about-me,
.right-side .experience,
.right-side .education,
.right-side .projects,
.right-side .certifications{
    margin-bottom: 5rem;
}
.right-side .about-me .about-me-title,
.right-side .intro-video .intro-video-title,
.right-side .experience .experience-title,
.right-side .education .education-title,
.right-side .projects .project-title,
.certifications-title{
    font-weight: 400;
    color: oklch(0.21 0.04 266.37);
    font-size: 1.8rem;
}
.right-side hr{
    margin: 2.2rem 0;
    border: 0.1rem solid #cad5e2;
}
.right-side .about-me-detail,
.right-side .intro-video-detail,
.right-side .experience .experience-detail,
.right-side .education .education-detail{
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: 1.5rem;
    background-color: white;
    padding: 4rem;
    border-radius: 1rem;
    /* box-shadow: 0px 0px 10px 0px #cad5e2; */
    border: 0.01rem solid oklch(0.93 0 0);
    margin: 2.3rem 0;
}
.right-side .intro-video-detail .upload-video-container-before{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #f8fafc;
    border-radius: 1rem;
    border:0.2rem dashed #cad5e2;;
    gap: 2rem;
}
.right-side .intro-video-detail .upload-video-container-after{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.right-side .upload-video-container-before .upload-video-text{
    font-weight: 400;
}
.right-side .upload-video-container-before .video-format{
    font-weight: 400;

    color: oklch(.554 .046 257.417);
}
.right-side .intro-video-detail .choose-video-button{
    font-weight: 400;
    color: white;
    background-color: #030213;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
}
 .uploaded-video {
    width: 100%;
    max-height: 50rem;
    height: auto;
    border-radius: 12px;
    margin-top: 1rem;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.25); */
    outline: none;
  }
.right-side .upload-video-container-after .file_name-remove_button{
    display: flex;
    justify-content: space-between;
}
.right-side .upload-video-container-after .file_name-remove_button button{
    background-color: transparent;
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #e8e8e8;
    font-size: 1.2rem;
}
.right-side .upload-video-container-after .replace-video-button{
    display: flex;
    width:fit-content;
    background-color: transparent;
    padding: 0.5rem 1.2rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #e8e8e8;
    font-size: 1.2rem;
}


.right-side .experience .experience-role-duration{
    display: flex;
    justify-content: space-between;
}
.experience-role-duration h2:nth-child(1){
    font-weight: 500;
    font-size: 1.8rem;
    color: oklch(0.21 0.04 266.37);;
}
.experience-role-duration h2:nth-child(2){
    font-weight: 300;
    font-size: 1.8rem;
}
.experience .company{
    font-size: 1.8rem;
    font-weight: 400;
}
.experience .experience-detail .tasks{
    margin: 3rem 0 3rem 3rem;
}
.experience .experience-detail li::marker {
  font-size: 2rem; /* size of bullet */
  color: #333;
}
.experience .experience-detailt .tasks li {
  padding-left: 0.8rem;
}
.experience .experience-detail .skills{
 
}
.experience .skills ul{
    list-style: none;
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;  
}
.experience .skills ul li{
    padding: 0.4rem 1rem;
    background-color: oklch(.95 .0058 264.53);
    border-radius: 1rem;
    color: #030213;
}
.right-side .education .education-degree-duration{
    display: flex;
    justify-content: space-between;
}
.education-degree-duration h2:nth-child(1){
    font-weight: 500;
    font-size: 1.8rem;
    color: oklch(0.21 0.04 266.37);
    
}
.education-degree-duration h2:nth-child(2){
    font-weight: 300;
    font-size: 1.8rem;
    width: 20%;
    display: flex;
    justify-content: end;
}
.education .institution{
    font-size: 1.8rem;
    font-weight: 400;
}
.education .education-detail .focus,
.education .education-detail .gpa{
    margin-top: 2rem;
    
}
.projects .project-cards,
.certifications .certification-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:4rem;
    
}
.projects .project-cards .project-card,
.certifications .certification-cards .certification-card{
    position: relative;
    font-size: 1.5rem;
    background-color: white;
    padding: 4rem;
    border-radius: 1rem;
    /* box-shadow: 0px 0px 10px 0px #cad5e2; */
    border: 0.01rem solid oklch(0.93 0 0);
    text-wrap: inherit;
}
.projects .project-cards .project-card p{
    margin: 2.5rem 0;
}
.projects .project-cards .project-card ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;  
    gap: 1rem;
    margin: 3rem 0;
}
.projects .project-cards .project-card ul li{
    padding: 0.4rem 1rem;
    color: oklch(.95 .0058 264.53);
    border-radius: 1rem;
    background-color: #030213;
}
.projects .project-cards .project-card .view-project{
    text-decoration: none;
    margin-top: 2rem;
    color: oklch(.546 .245 262.881)
}
.projects .project-cards .project-card .view-project i{
    margin-left: 1rem;
}
.certifications .certification-cards .certification-card .certification-title{
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
}
.certifications .certification-cards {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
    color: oklch(.446 .043 257.281);
}
.certification-card p{
    display: inline;
    font-size: 1.7rem;
    font-weight: 400;
    color: oklch(.446 .043 257.281);
}
.certification-card:hover{
     box-shadow: 0px 0px 10px 0px #cad5e2;
}
.certifications .certification-cards .certification-card .edit-icon-container{
    position: absolute;
    top: 4rem;
    right: 3rem;
    width: 2.3rem;
    height: 2.3rem;
    opacity: 0;             /* Hidden by default */
    pointer-events: none;   /* Avoid capturing clicks when hidden */
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1.3rem;
    
}
.certifications .certification-cards .certification-card .edit-icon{
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0;             /* Hidden by default */
    pointer-events: none;   /* Avoid capturing clicks when hidden */
    transition: opacity 0.3s;
    
}
.certifications .certification-cards .certification-card:hover .edit-icon-container{
   /* background-color: oklch(0.93 0 0); */
    opacity: 1;
}
.certifications .certification-cards .certification-card:hover .edit-icon {
    opacity: 1;
    pointer-events: auto;
    
}
.certifications .certification-cards .certification-card:hover .edit-icon-container:hover{
   
   background-color: oklch(0.93 0 0);
    opacity: 1;
    pointer-events: auto;
}
.certifications .certification-card .display-certificate{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 0.5rem ;
    border: 0.1rem solid oklch(0.93 0 0);
    border-radius: 5px;
}
.certifications .certification-card .display-certificate .expand-icon {
    display: inline-block;
    justify-content: center;
    width: 8px;
    height: 8px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg); /*points down like a "v"*/
    transition: transform 0.3s ease;
  }
  .certificate-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem; 
  padding: 1.5rem 1rem; 
  border-radius: 0.75rem; /* rounded-md */
  font-size: 1.4rem; /* text-sm */
  font-weight: 500; /* font-medium */
  gap: 0.5rem; /* gap-2 */
  background-color: var(--background, #fff);
  border: 1px solid oklch(0.93 0 0);
  color: var(--foreground, #000);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 1rem;
}
/* Content inside button */
.certificate-btn .btn-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* Chevron rotation */
.certificate-btn .chevron {
  width: 1.5rem; /* h-4 w-4 */
  height: 1.5rem;
  transition: transform 0.3s ease;
}

.certificate-btn .chevron.open {
  transform: rotate(180deg);
}

/* External icon */
.certificate-btn .external-icon {
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}
.certificate-content {
  display: none;
  margin-top: 0.5rem;
 
  overflow: hidden;
  max-height: 35rem;
}

.certificate-content.active {
  display: block;
}
.certifications  .modal {
  display: none; 
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: oklch(.145 0 0);
}
.certifications .modal .modal-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0 ;
}
.certifications  .modal .modal-content {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
  animation: fadeIn 0.3s ease;
}
.certifications  .modal .modal-content .close-icon{
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    font-size: 2rem;
    font-weight: 300;
    color: oklch(0.49 0 0);
    cursor: pointer;
    padding:0rem 0.6rem;
    display: flex;
    align-items: center;
}
.certifications  .modal .modal-content .close-icon:active{
    border: 0.2rem solid #d2d2d2;
    border-radius: 0.5rem;
}

.certifications  .modal .modal-content h2 {
  margin-bottom: 1rem;
  
}
.certifications  .modal .modal-content .input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: #f3f3f5;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.certifications  .modal .modal-content label{
    font-size: 1.4rem;
}

.certifications  .modal .modal-content input{
  width: 100%;
  border: none;
  padding: 0.8rem;
  background-color: transparent;
  transition: none;
  font-size: 1.4rem;
}
.certifications  .modal .modal-content .input-wrapper:has(input:focus) {
  background-color: #d2d2d2; 
}

.certifications  .modal .modal-content input:focus {
  width: 100%;
  /* margin: 0.3rem; */
  background-color:  #f3f3f5;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  border: 0.001px solid #a5a5a5;
}

.certifications  .modal .modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.certifications  .modal .modal-buttons button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
}
.certifications .modal .external-link-text{
    font-size: 1.6rem;
    color: oklch(0.55 0.05 257.55);
}

.certifications  .modal #cancelBtn {
  background: transparent;
  border: 1px solid #e8e8e8;
  
}

.certifications  .modal #saveBtn {
  background: #030213;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
footer{
    padding: 2.5rem 10rem;
    background-color: oklch(.208 .042 265.755);
    color: white; 
}
footer .name{
font-weight: 400;
margin-bottom: 2rem;
}
footer .description{
    font-weight: 300;
    max-width: 60rem;
    color: oklch(.704 .04 256.788);  
}
/* LG - SMALL LAPTOPS: 1024-1280 */
@media (max-width: 72rem) {
/* 1150px / 16px = 72rem */
/* 72rem * 16px = 1152px */
html{
    /* 9px / 16px =56.25% */
    font-size: 56.25%;
}
.header .header-container .name-role{
    gap: 0.5rem;
}
.header .header-container{
    padding: 2rem 8rem;
}
.main{
    margin-top: 10.1rem;
}
.side-container{
    margin:2rem  ;
}
.side .quick-info .quick-info-container{
    padding: 1rem;
}
.right-side-container{
    max-width: 85%;
    margin:3rem auto;
}

.projects .project-cards,
.certifications .certification-cards{
    gap:3rem;
    
}
.right-side .about-me-detail,
.right-side .experience .experience-detail,
.right-side .education .education-detail{
    padding: 3rem;
}
.projects .project-cards .project-card,
.certifications .certification-cards .certification-card{
    padding: 3rem;
}
.projects .project-cards .project-card,
.certifications .certification-cards .certification-card{
    padding: 2.5rem
}
.certifications .certification-cards .certification-card .certification-title,
.certifications .certification-cards .certification-card p{
    margin-bottom: 1rem;

}

footer{
    padding: 2rem 8rem; 
}
}


/* MD - TABLETS: 768 - 1024 */

@media (max-width: 57rem) {
/* 912px / 16px = 57rem */
/* 57rem * 16px = 912px */
html{
    /* 8px / 16px =50% */
    font-size: 50%;
}
.header {
   display: none;
   background: transparent;
   position: absolute;
   top: 5rem;
   right: 2rem;
}
.header .header-container .name-role {
    display: none;
}
.main{
   margin-top: 0rem;
    flex-direction: column;
    height: auto;
    
}
.side{
    width: 100%;
}
.side-container{
    margin:1.4rem  ;
}
.side .side-container .menu-icon {
    display: block; 
  }

.side .quick-info .quick-info-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.side .side-container .link-list{
    grid-template-columns: repeat(2,1fr);
}
.header.active {
    display: flex;
    justify-content: flex-end; 
 }
.header .header-container .nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
.quick-info-container ul {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.projects .project-cards,
.certifications .certification-cards{
    gap:2.5rem;
    
}
.right-side .about-me-detail,
.right-side .experience .experience-detail,
.right-side .education .education-detail{
    padding: 2.5rem;
}
.projects .project-cards .project-card,
.certifications .certification-cards .certification-card{
    padding: 2rem;
}

.certifications .certification-cards .certification-card .certification-title,
.certifications .certification-cards .certification-card p{
    margin-bottom: 0.7rem;

}
footer{
    padding: 1.8rem 7rem; 
}
}


/* SM - PHONE LANDSCAPE: 576 PX  - 768PX */

@media (max-width: 42rem) {
/* 672px / 16px = 42rem */
/* 42rem * 16px = 672px */
html{
    /* 7px / 16px =43.75% */
    font-size: 43.75%;
}
.header {
   display: none;
   background: transparent;
   position: absolute;
   top: 5rem;
   right: 2rem;
}
.header .header-container .name-role {
    display: none;
}
.main{
   margin-top: 0rem;
    flex-direction: column;
    height: auto;
    
}
.side{
    width: 100%;
}
.side-container{
    margin:1.4rem  ;
}
.side .side-container .menu-icon {
    display: block; 
  }

.side .quick-info .quick-info-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.side .side-container .link-list{
    grid-template-columns: repeat(2,1fr);
}
.header.active {
    display: flex;
    justify-content: flex-end; 
 }
.header .header-container .nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
.quick-info-container ul {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.projects .project-cards,
.certifications .certification-cards{
    gap:2.5rem;
    grid-template-columns:  1fr;
    
}
footer{
    padding: 1.8rem 7rem; 
}
}

/* XS - PHONE PORTRAINT:< 576 */
@media (max-width: 35rem) {
/* 560px / 16px = 42rem */
/* 35rem * 16px = 560px */
html{
    /* 6px / 16px =43.75% */
    font-size: 37.5%;
}
.header {
   display: none;
   background: transparent;
   position: absolute;
   top: 5rem;
   right: 2rem;
}
.header .header-container .name-role {
    display: none;
}
.main{
    margin-top: 0rem;
    flex-direction: column;
    height: auto;
}
.side{
    width: 100%;

}
.side-container{
    margin:1.4rem  ;
}
.side .side-container .menu-icon {
    display: block; 
  }

.side .quick-info .quick-info-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.side .side-container .link-list{
    grid-template-columns: repeat(2,1fr);
}
.header.active {
    display: flex;
    justify-content: flex-end; 
 }
.header .header-container .nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
.quick-info-container ul {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
/* .side .side-links{
    display: none;
} */
.right-side-container{
    /* max-width: 85%; */
    margin:2rem auto;
    overflow-y:hidden;
    /* flex: 1; */
}


.projects .project-cards,
.certifications .certification-cards{
    gap:2.3rem;
    grid-template-columns:  1fr;
    
}
.right-side .about-me-detail,
.right-side .experience .experience-detail,
.right-side .education .education-detail{
    padding: 2rem;
}
.projects .project-cards .project-card,
.certifications .certification-cards .certification-card{
    padding: 2rem;
}

.certifications .certification-cards .certification-card .certification-title,
.certifications .certification-cards .certification-card p{
    margin-bottom: 0.7rem;

}
footer{
    padding: 1.8rem 7rem; 
}
}